@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4f5764;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2e37;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d313a;
}
